body {
	background-color: #FFCD1D;
	display: flex;
	flex-direction: row;
	height: 100vh;
	justify-content: center;
	align-items: flex-end;
}

.quotebox {
	display: flex;
	flex-direction: column;
}

.imagebox, .tweetbox {
	display: flex;
}

.imagebox {
  padding-top: 3em;
}

.quote {
	font-family: 'Courgette', cursive;
	font-size: 2.5em;
	color: #5C3B08;
	padding-bottom: 1em;
	text-align: center;
}

img {
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

.buttonline {
	display: flex;
	flex-direction: row;
}

.spacer, button {
	flex: 1;
}

button { 
	border-radius: 10%;
	flex-basis: 150px;
	background-color: rgba(250,161,21, .5);
	border: solid 2px #ffcd1d;
	font-size: 1em;
	color: rgba(92,59,8, .7);
}

button:focus {
    outline: none;
}

button:hover {
	border: solid 2px rgba(92,59,8, .6);
	color: rgba(92,59,8, 1);
	font-style: bold;
	background-color: rgba(250,161,21, .5);
}

button:active {
  background-color: rgba(92,59,8, .8);
  color: rgb(250,161,21);
}

.quotebox {
	padding-bottom: 2em;
}

.fa-twitter {
  font-size: 2em !important;
	color: #5C3B08;
}

.fa-twitter:hover {
  color: #4099FF;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: #4099FF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9em;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  position: absolute;
  z-index: 1;
  margin-left: -130px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4099FF transparent;
}
